[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
celery = "*"
djangorestframework = "*"
ipython = "*"
django-extensions = "*"
django-celery-email = "*"
django-filter = "*"
Django = "*"
Fabric3 = "*"
httpie = "*"
